<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons.html::head">
<body>
<form action="action_page.php" class=" text-center text-light" method="post">
    <div class="container">
        <h1>Login</h1>
        <hr>

        <div class="col-sm-22">
            <input type="text" placeholder="Enter Username" name="username"
                   aria-describedby="usernameHelpInline" id="username" required>
            <small class="bg-danger text-light rounded">
                Username length must be between 5 and 20 characters.
            </small>
        </div>

        <div class="col-sm-22">
            <input type="password" placeholder="Enter Password" name="password" id="password" required>
            <small class="bg-danger text-light rounded">
                Username length must be between 5 and 20 characters.
            </small>
        </div>
    </div>
</form>
</body>
</html>