<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons.html::head">
</head>
<body>
<form th:action="@{/users/register}" th:object="${userRegisterBindingModel}"
      class=" text-center text-light" th:method="post">
    <div class="container">
        <h1>Register</h1>
        <p>Please fill in this form to create an account.</p>
        <hr>

        <div class="col-sm-22">
            <input th:field="*{username}" th:errorclass="is-invalid" class="form-control"
                   type="text" placeholder="Enter Username" name="username"
                   aria-describedby="usernameHelpInline" id="username" required>
            <small id="usernameHelpInline" class="invalid-feedback bg-danger text-light rounded">
                Username length must be between 5 and 20 characters.
            </small>
        </div>

        <div class="col-sm-22">
            <input th:field="*{fullName}" th:errorclass="is-invalid" class="form-control"
                   aria-describedby="fullNameHelpInline" type="text" placeholder="Enter Full Name" name="fullName"
                   id="fullName" required>
            <small id="fullNameHelpInline" class="invalid-feedback bg-danger text-light rounded">
                Username length must be between 5 and 20 characters.
            </small>
        </div>

        <div class="col-sm-22">
            <input th:field="*{age}" th:errorclass="is-invalid" class="form-control"
                   aria-describedby="ageHelpInline" type="text" placeholder="Enter Age" name="age" id="age" required>
            <small id="ageHelpInline" class="invalid-feedback bg-danger text-light rounded">
                Username length must be between 5 and 20 characters.
            </small>

        </div>

        <div class="col-sm-22">
            <input th:field="*{email}" th:errorclass="is-invalid" class="form-control"
                   aria-describedby="emailHelpInline" type="text" placeholder="Enter Email" name="email" id="email"
                   required>
            <small id="emailHelpInline" class="invalid-feedback bg-danger text-light rounded">
                Username length must be between 5 and 20 characters.
            </small>
        </div>

        <div class="col-sm-22">
            <input th:field="*{password}" th:errorclass="is-invalid" class="form-control"
                   aria-describedby="passwordHelpInline" type="password" placeholder="Enter Password" name="psw"
                   id="psw" required>
            <small id="passwordHelpInline" class="invalid-feedback bg-danger text-light rounded">
                Username length must be between 5 and 20 characters.
            </small>
        </div>

        <div class="col-sm-22">
            <input th:field="*{confirmPassword}" th:errorclass="is-invalid" class="form-control"
                   aria-describedby="confirmPasswordHelpInline" type="password" placeholder="Confirm Password"
                   name="psw-repeat" id="psw-repeat" required>
            <small id="confirmPasswordHelpInline" class="invalid-feedback bg-danger text-light rounded">
                Username length must be between 5 and 20 characters.
            </small>
        </div>

        <button type="submit" class="registerbtn">Register</button>
    </div>

    <div class="container signin">
        <p>Already have an account? <a href="/users/login">Sign in</a>.</p>
    </div>
</form>
</body>
</html>