<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <title>Twovago</title>
    <link rel="stylesheet" href="/css/navigation_styles.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <header th:fragment="nav">
        <nav class="main-navigation">
            <div class="navbar-header animated fadeInUp">
                <img class="logo" src="/images/two_vago_logo.png" alt="Twovago" href="/" />
            </div>
            <ul class="nav-list">
                <li class="nav-list-item">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <th:block th:unless="${@currentUser.id == null}">
                    <li class="nav-list-item">
                        <a href="/offers/add" class="nav-link">Add Offer</a>
                    </li>
                    <li class="nav-list-item">
                        <a href="/" class="nav-link">View Offers</a>
                    </li>
                </th:block>
                <th:block th:if="${@currentUser.id == null}">
                    <li class="nav-list-item">
                        <a href="/users/register" class="nav-link">Register</a>
                    </li>
                    <li class="nav-list-item">
                        <a href="/users/login" class="nav-link">Login</a>
                    </li>
                </th:block>
                <th:block th:unless="${@currentUser.id == null}">
                    <li class="nav-list-item">
                        <a href="/users/logout"> Logout</a>
                    </li>
                </th:block>
            </ul>

        </nav>
    </header>
</body>

</html>